body,
input,
select,
button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	padding: 15px;
}
#content {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 15px;
}

table {
	border-collapse: collapse;
}

table {
	border-radius: 5px;
}

table,
th {
	border: 1px solid black;
}

td {
	border: 1px solid #b6b6b6;
}

td,
th {
	padding: 5px;
}

.name-container img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding-left: 3px;
}
